.me-wrapper {

    display: flex;
    justify-content: center;
}

.me-container {
    width: 90vw;
    height: 80vh;
    margin-bottom: 20px;
}

.me-pic {
    /*margin-top: 100px;*/
    width: 33vw;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@media (max-width: 400px) {
    .me-pic {
        width: 90vw;
    }

}
.me-text {
    width: auto;
    background: antiquewhite;
    font-size: 24px;
    line-height: 40px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}