.btn {
    width: auto;
    font-family: inherit;
    font-size: 30px;
    background: rgba(255, 255, 255, 0.6);
    /*filter: blur(20px);*/
    /*filter: blur(1px);*/
    color: black;
    border: black solid 5px;
    border-radius: 3px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.btn:hover {
    background-color: antiquewhite;
    color: black;
    border-right: black solid 5px;
    border-bottom: black solid 5px;
    cursor: pointer;
}

.nav-visible {
    display: none;
}

@media (hover: none) {
    .nav-item {
        margin-bottom: 20px;
    }
    .pic-btn {
        display: inline-block;
    }
}

.pic-btn {
    background-color: initial;
    border: none;
}
