.btn {
    border: none;
    width: auto;
    font-family: inherit;
    font-size: 30px;
    background-color: black;
    color: antiquewhite;
    border-right: antiquewhite solid 5px;
    border-bottom: antiquewhite solid 5px;
    border-radius: 3px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.btn:hover {
    background-color: antiquewhite;
    color: black;
    border-right: black solid 5px;
    border-bottom: black solid 5px;
    cursor: pointer;
}

@media (min-width: 400px) {
    .nav-item {

        margin-bottom: 20px;
        /*margin-left: 100px;*/
        margin-left: 50px;
        /*margin-bottom: 20px;*/
    }
}

/*@media (max-width: 400px) {*/
/*    .nav-item {*/
/*        margin: initial;*/
/*    }*/
/*}*/

.nav-item__pic {
    width: 249px;
    height: 181px;
    margin-left: auto;
    margin-right: 20px;
}
