
#bg {
  -webkit-transition: filter 2s;
  transition: filter 2s;
  background-image: url(./pics/newhomepageq.jpg);
  background-size: cover;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: fixed;

}

.blurred {
  filter: blur(10px);
  -webkit-filter: blur(10px);
}

.clear {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

@media (hover: none) {
  #bg {
    background-image: url(./pics/newhomemobile.jpg);
  }
}

.App {
  text-align: center;
}
