@font-face {
  font-family: "whitney_light";
  src: url("fonts/whitney_light.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: "whitney_light", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
